@using EMS.Web.ViewModels.Assignments;
@model AssignmentsListViewModel

<section class="assignments-wrapper mb-3">
    @foreach (var assignment in Model.Assignments)
    {
        <article class="single-assignment-wrapper">
            <ul>
                <li><p class="single-assignment-wrapper-title">Title: <strong>@assignment.Title</strong></p></li>
                <li><p class="single-assignment-wrapper-description">Description: <strong>@assignment.Description</strong></p></li>
                <li><p class="single-assignment-wrapper-startDate">Start Date: <strong>@assignment.StartDate.ToString("dd MMMM yyyy")</strong></p></li>
                <li><p class="single-assignment-wrapper-dueDate">Due Date: <strong>@assignment.DueDate.ToString("dd MMMM yyyy")</strong></p></li>
                @if (assignment.AssignedEmployee == null && assignment.Finished == false)
                {
                    <li><p class="single-assignment-wrapper-employeesCount">Assignee: <strong>Not Assigned to anyone yet</strong></p></li>
                }
                else
                {
                    <li><p class="single-assignment-wrapper-employeesCount">Assignee: <strong>@(assignment.AssignedEmployee == null ? "Not Assigned to anyone yet" : assignment.AssignedEmployee)</strong></p></li>
                    <li><p class="single-assignment-wrapper-status">Status: <strong>@(assignment.Finished == false ? "Pending" : "Finished on " + assignment.CompletedDate.Value.ToString("dd MMMM yyyy"))</strong></p></li>
                }
                <li class="assignment-btns">
                    <a class="btn btn-success" asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Id">Edit</a>
                    <form method="post" asp-controller="Assignments" asp-action="Delete" asp-route-id="@assignment.Id">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Please confirm</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this task?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </article>
    }
</section>