@using EMS.Web.ViewModels.Assignments;
@model AssignmentsListViewModel

<section class="assignments-wrapper mb-3">
    @foreach (var assignment in Model.Assignments)
    {
        <article class="single-assignment-wrapper">
            <ul>
                <li><p class="single-assignment-wrapper-title">Title: <strong>@assignment.Title</strong></p></li>
                <li><p class="single-assignment-wrapper-description">Description: <strong>@assignment.Description</strong></p></li>
                <li><p class="single-assignment-wrapper-startDate">Start Date: <strong>@assignment.StartDate.ToString("dd MMMM yyyy")</strong></p></li>
                <li><p class="single-assignment-wrapper-dueDate">Due Date: <strong>@assignment.DueDate.ToString("dd MMMM yyyy")</strong></p></li>
                @if (assignment.AssignedEmployee == null && assignment.Finished == false)
                {
                    <li><p class="single-assignment-wrapper-employeesCount">Assignee: <strong>Not Assigned to anyone yet</strong></p></li>
                }
                else
                {
                    <li><p class="single-assignment-wrapper-employeesCount">Assignee: <strong>@(assignment.AssignedEmployee == null ? "Not Assigned to anyone yet" : assignment.AssignedEmployee)</strong></p></li>
                    <li><p class="single-assignment-wrapper-status">Status: <strong>@(assignment.Finished == false ? "Pending" : "Finished on " + assignment.CompletedDate.Value.ToString("dd MMMM yyyy"))</strong></p></li>
                }
                <li class="assignment-btns"><a class="btn btn-success" asp-controller="Assignments" asp-action="Edit" asp-route-id="@assignment.Id">Edit</a><a class="btn btn-danger" asp-controller="Assignments" asp-action="Delete" asp-route-id="@assignment.Id">Delete</a></li>
            </ul>
        </article>
    }
</section>