@using EMS.Web.ViewModels.Employees;
@model EmployeesListViewModel

@{
    this.ViewData["Title"] = "All employees";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>
<section class="employees-wrapper">
    @foreach (var employee in Model.Employees)
    {
        <article class="single-employee-wrapper">
            <a class="single-employee-wrapper-link" asp-action="ById" asp-route-id="@employee.Id">
                <i class="fas fa-user"></i>
            </a>
            <ul>
                <li><p class="single-employee-wrapper-fullname">Names: <strong>@(employee.FirstName + " " + employee.LastName)</strong></p></li>
                <li><p class="single-employee-wrapper-email">Email: <strong>@employee.Email</strong></p></li>
                <li><p class="single-employee-wrapper-phone">Phone Number: <strong>@employee.PhoneNumber</strong></p></li>
                <li><p class="single-employee-wrapper-birthday">Birthday: <strong>@employee.DateOfBirth.ToString("dddd, dd MMMM yyyy")</strong></p></li>
                <li><p class="single-employee-wrapper-salary">Monthly Salary: <strong>@(Math.Round(employee.MonthlySalary, 2)) euro</strong></p></li>
                <li><p class="single-employee-wrapper-finishedTasks">Completed Tasks: <strong>@employee.FinishedTasks</strong></p></li>
                <li><p class="single-employee-wrapper-addedBy">Added by: <strong>@(employee.AddedByUserUserName == null ? "Guest User" : employee.AddedByUserUserName)</strong></p></li>
            </ul>
        </article>
    }
</section>