@using EMS.Web.ViewModels.Employees;
@model EmployeesListViewModel

@{
    this.ViewData["Title"] = $"All Employees with names containing \"{this.ViewData["name"]}\"";
}

@if (this.ViewData["invalidName"] != null)
{
    <h2 class="text-center">There are no employees with blank names</h2>
}
else if (Model.Employees.Any())
{
    <h2 class="text-center">@this.ViewData["Title"]</h2>
    if (Model.Employees.Count() > 1)
    {
        <partial name="_SortingPartial" model="@Model" />
    }
    <partial name="_EmployeesListPartial" model="@Model" />
    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }
}
else
{
    <h2 class="text-center">No employees with names containing "@this.ViewData["name"]"</h2>
}

@section Scripts{
    <script src="~/js/disableCurrentSortLink.min.js" asp-append-version="true"></script>
}