@using EMS.Web.ViewModels.Assignments;
@model AssignmentsListViewModel

@{
    this.ViewData["Title"] = "All Completed Tasks";
}

<h2 class="text-center">@this.ViewData["Title"]</h2>

@if (Model.Assignments.Any())
{
    if (Model.ItemsCount > 1)
    {
        <section class="sort-wrapper">
            <span>Sort By:</span>
            <ul>
                <li><a class="startDate-sort-link" asp-route-sortOrder="startDate" asp-route-id="1">Start Date</a></li>
                <li><a class="dueDate-sort-link" asp-route-sortOrder="dueDate" asp-route-id="1">Due Date</a></li>
                <li><a class="title-sort-link" asp-route-sortOrder="title" asp-route-id="1">Title</a></li>
            </ul>
        </section>
        <input id="sort-order-value" type="hidden" value="@Model.SortOrder" />
    }

    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }

    <partial name="_AssignmentsListPartial" model="@Model" />

    if (Model.PagesCount > 1)
    {
        <partial name="_PagingPartial" model="@Model" />
    }
}

@section Scripts{
    <script src="~/js/disableCurrentSortLinkForAssignments.min.js" asp-append-version="true"></script>
}